<div class="about-me-wrapper">
	<div class="container" id="about">
		<div class="row">
			<div class="sixteen columns">
				<h2>About <strong>Me</strong></h2>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<img class="profile-pic" src="img/profile.jpg" alt="Beautiful picture of Marty Powell, Web Developer" />
			</div>
			<div class="twelve columns">
				<p>I am a <a href="https://www.linkedin.com/in/jeffreymartinpowelljr#experience-569493487" title="Learn more about my job at Baltimore County">experienced developer</a> that works for <a href="//baltimorecountymd.gov">Baltimore County Government</a>. I help make our stuff <strong>better</strong>.</p>
				
				<p>In my free time, I enjoy playing pretty much anything and hanging out with family, friends and my dogs. I'm always happy when I stumble into a good meal with lots of meat, a potato and an adult beverage or two.</p>
			</div>
		</div>
		<div class="row social-media">
			<div class="sixteen columns">
				{% include social-media.html %}
			</div>
		</div>
	</div>
</div>
