<header class="page-header">
  <nav class="nav-bar">
  <div class="nav-branding">
    <h1 class="logo"><a href="/" title="Visit the web site of Marty Powell, web developer.">MP</a></h1>
  </div>
  <ul class="nav-items">
    <!-- <li class="nav-item"><a href="/#work" title="View some examples of my work.">My <strong>Work</strong></a></li> -->
    <li class="nav-item"><a href="/#about" title="Learn more about Marty Powell">About <strong>Me</strong></a></li>
    <li class="nav-item"><a href="/#contact" title="Let Marty know you want to get in touch with him.">Get in <strong>Touch</strong></a></li>
  </ul>
  <div class="clearfix"></div>
</nav>
</header>
