<div class="col col-2">
  <div class="skills">
  <h3 class="skills-heading">Everyday Skills</h3>
  <ul class="skils-list">
    <li>HTML/CSS</li>
    <li>Javascript/jQuery</li>
    <li>Problem Solving</li>
    <li>Subversion</li>
    <li>SQL</li>
  </ul>
  </div>
    <div class="skills">
  <h3 class="skills-heading">Other Skills</h3>
  <ul class="skils-list">
    <li>.net</li>
    <li>Git</li>
    <li>Wordpress</li>
    <li>Python</li>
    <li>Ruby/Rails</li>
    <li>Node.js</li>
  </ul>
  </div>
</div>