<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    {% if page.active == "home" %}
      <div class="about-me-main">
        <p class="about-me-message">My name is Marty<span class="gold">.</span><br /> I enjoy helping people <span class="gold amp">&amp;</span> keeping things simple<span class="gold">.</span></p>
      </div>
    {% endif %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
